table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
th {
    background-color: lightgray;
}
.palindromo {
    background-color: rgb(0, 255, 13);
}
.no-palindromo{
    background-color: rgb(255, 0, 0);
}
